<div class="user_box">
  <% if current_user %>
    <div class="button padded" id="username_box">
      <%= current_user.username %>
    </div>
    <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <input type="submit" value="Sign out" class="button padded" id="sign_out_feed">
    </form>
  <% end %>
</div>

<div class="fixed">

  <div class="title_logo">
    chitter
  </div>

  <div style="left: 15px; padding: 5px; margin-top: 50px">
    <% if current_user %>
      <form action="/feed" method="post">
        <textarea name="message" cols="20" rows="5" placeholder="what's on your mind?" class="feed_peep_box"></textarea>
      <!-- Submit -->
        <input type="submit" value="Peep" class="button" id="peep_button">
    </form>
    <% end %>
  </div>

</div>

<div class="user_box">
  <% unless current_user %>
    <form action='/'>
      <input type="submit" value="Sign in" class="button" id="sign_up">
    </form>
  <% end %>
</div>

<div class="peep_container">
  <ul id="peeps" style="list-style-type: none">
    <% if @peeps %>
      <% @peeps.reverse.each do |peep| %>
        <div class="peep_card">
          <li>
            <div class="peep_header">
              <%= peep.name %> 
                <div class="peep_username"> 
                  @<%= peep.username %> 
                </div> 
                <div class="peep_time"> 
                  <%= relative_time(peep.created_at) %>
                </div> 
            </div>
            <div class="peep_message">
              <%= peep.message %>
            </div>
          </li>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>
